*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: url(/imgs/amy-leigh-barnard-SByb8Ch9XcQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
}



h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: black;
    display: flex;
    justify-content: center;
    align-self: inherit;
    
}

.header {
    background: #8c7ae6;
    width: 70vw;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}



h2 {
    margin: 0 0 1rem 2rem ;
    font-size: 2.5rem;
    text-transform: uppercase;
}

li 
{
    list-style: none;
    margin: 0 0 1rem 4rem;
    font-size: 2rem;
}

input {
    cursor: pointer;
    margin-right: 1rem;
}

i {
    margin-left: 1rem;
}

 .creataceous {
    width: 50vw;
    margin: 2rem;
    border-radius: 1rem;
    background: #fbc531;
}

.primal {
    width: 50vw;
    margin: 2rem;
    border-radius: 1rem;
    background: #ff9f1a;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rivals {
    width: 50vw;
    margin: 2rem;
    border-radius: 1rem;
    background: #c23616;
}

.world {
    width: 50vw;
    margin: 2rem;
    border-radius: 1rem;
    background: #0abde3;
}


.banner {
    width: 50vw;
    margin: 2rem;
    border-radius: 1rem;
    background: #6ab04c;
}


/* Media Queries **********************************************************************************************/


@media screen and (min-width: 1400px){
    .creataceous,
    .primal,
    .rivals,
    .world,
    .banner {
        width: 20vw;
    }

    
}


@media screen and (min-width: 1200px){
    .creataceous,
    .primal,
    .rivals,
    .world,
    .banner {
        width: 35vw;
    }

    .header {
        width: 40vw;
    }
    
}

@media screen and (max-width: 850px){
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    li {
        font-size: 1.5rem;
    }
   
}


@media screen and (max-width: 750px) {
    .creataceous,
    .primal,
    .rivals,
    .world,
    .banner {
        width: 55vw;
    }

   
}

@media screen and (max-width: 500px){
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1rem;
    }

   
}